auto-install-peers=false
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*@expo*
